.error{
	color: red;
}
.form-control.error{
	border: 1px solid red;
}
.btn.btn-circle.btn-info.btn-sm{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}
.btn.btn-circle.btn-danger.btn-sm{
	margin-left: 10px;
    margin-bottom: 10px;
}
.btn .btn-primary{
	margin-bottom: 20px;
}